<div class="container mt-5">
    <h2>{{ header }}</h2>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="">Course Id</label>
            <input type="text" class="form-control" [ngModel]="course.id" name="id">
        </div>
        <div class="form-group">
            <label for="">Course Name</label>
            <input type="text" class="form-control" [ngModel]="course.name" name="name">
        </div>
        <div class="form-group">
            <label for="">Category</label>
            <input type="text" class="form-control" [ngModel]="course.category" name="category">
        </div>
        <div class="form-group">
            <label for="">Course Level</label>
            <input type="text" class="form-control" [ngModel]="course.level" name="level">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>