<div class="container mt=5">
    <h4>List of available courses</h4>
    <a routerLink="course/add/0" class="btn btn-primary mt-5 mb-3">Add Course</a>
    <table class="table">

        <head>
            <th> Id </th>
            <th> Name </th>
            <th> Category </th>
            <th> Level </th>
            <th> </th>
        </head>
        <tbody>
            <tr *ngFor="let course of courses">
                <td> {{course.id}} </td>
                <td> {{course.name}} </td>
                <td> {{course.category}} </td>
                <td> {{course.level}} </td>
                <td> <a [routerLink]="['course/edit',course.id]">Edit</a></td>
                <td><button (click)="onDelete(course.id)">x</button></td>
            </tr>
        </tbody>
    </table>
</div>